<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="epc.labs.soonami" android:versionName="beta-1" android:versionCode="1">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application>
         <activity android:name=".Soonami" android:label="Soonami">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
